@import '~office-ui-fabric-react/dist/sass/References.scss';

.buttons {
  .container {
    margin: 0px auto;
  }
 
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    flex-wrap: wrap;
    display: block;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button{
    display: flex;
    widows: 180px;
  }

 
}
